# Preprosseing notebook for the recipe data
During the preprossesing we combine multiple data sources and bring the data into a workable format.

In [2]:
import pandas as pd
import pickle

In [3]:
# load csv
inter_raw = pd.read_csv('../../data/RAW_interactions.csv')
recipes_raw = pd.read_csv('../../data/RAW_recipes.csv')
recipies_pp = pd.read_csv('../../data/PP_recipes.csv')

In [4]:
# loading pkl to get an idea of the ingredients mapping
with open('../../data/ingr_map.pkl', 'rb') as f:
    ingr_map = pickle.load(f)

In [5]:
ingr_map

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
0,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507,4308
1,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507,4308
2,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507,4308
3,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507,4308
4,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507,4308
...,...,...,...,...,...,...,...
11654,soybeans,1,soybean,7,soybean,31,6702
11655,goose,1,goose,5,goose,8,3318
11656,ajwain,1,ajwain,6,ajwain,13,47
11657,brinjals,1,brinjal,7,brinjal,2,750
11658,khoya,1,khoya,5,khoya,6,4061

In [6]:
# id range: 0 - 8022
ingr_map.describe()

          raw_words      len_proc         count            id
count  11659.000000  11659.000000  11659.000000  11659.000000
mean       2.732653     15.687538    936.574320   3959.409898
std        1.161798      6.498827   3333.984156   2350.276608
min        1.000000      1.000000      2.000000      0.000000
25%        2.000000     11.000000      5.000000   1838.000000
50%        3.000000     15.000000     26.000000   3975.000000
75%        3.000000     19.000000    255.000000   6077.500000
max       13.000000     73.000000  72848.000000   8022.000000

In [7]:
recipies_pp.head()

,id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids
0,424415,23,"[40480, 37229, 2911, 1019, 249, 6878, 6878, 28...","[[2911, 1019, 249, 6878], [1353], [6953], [153...","[40480, 40482, 21662, 481, 6878, 500, 246, 161...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[389, 7655, 6270, 1527, 3406]"
1,146223,96900,"[40480, 18376, 7056, 246, 1531, 2032, 40481]","[[17918], [25916], [2507, 6444], [8467, 1179],...","[40480, 40482, 729, 2525, 10906, 485, 43, 8393...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[2683, 4969, 800, 5298, 840, 2499, 6632, 7022,..."
2,312329,120056,"[40480, 21044, 16954, 8294, 556, 10837, 40481]","[[5867, 24176], [1353], [6953], [1301, 11332],...","[40480, 40482, 8240, 481, 24176, 296, 1353, 66...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",1,"[1257, 7655, 6270, 590, 5024, 1119, 4883, 6696..."
3,74301,168258,"[40480, 10025, 31156, 40481]","[[1270, 1645, 28447], [21601], [27952, 29471, ...","[40480, 40482, 5539, 21601, 1073, 903, 2324, 4...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]"
4,76272,109030,"[40480, 17841, 252, 782, 2373, 1641, 2373, 252...","[[1430, 11434], [1430, 17027], [1615, 23, 695,...","[40480, 40482, 14046, 1430, 11434, 488, 17027,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[3484, 6324, 7594, 243]"

In [8]:
recipies_pp.describe()

                  id              i  calorie_level
count  178265.000000  178265.000000  178265.000000
mean   213461.803007   89132.000000       0.863192
std    138266.712754   51460.817206       0.791486
min        38.000000       0.000000       0.000000
25%     94576.000000   44566.000000       0.000000
50%    196312.000000   89132.000000       1.000000
75%    320562.000000  133698.000000       2.000000
max    537716.000000  178264.000000       2.000000

In [9]:
recipies_pp['recipe_id'] = recipies_pp.pop('id')

In [10]:

inter_raw.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [11]:
inter_raw.describe()

            user_id     recipe_id        rating
count  1.132367e+06  1.132367e+06  1.132367e+06
mean   1.384291e+08  1.608972e+05  4.411016e+00
std    5.014269e+08  1.303987e+05  1.264752e+00
min    1.533000e+03  3.800000e+01  0.000000e+00
25%    1.354700e+05  5.425700e+04  4.000000e+00
50%    3.309370e+05  1.205470e+05  5.000000e+00
75%    8.045500e+05  2.438520e+05  5.000000e+00
max    2.002373e+09  5.377160e+05  5.000000e+00

In [12]:
recipes_raw.describe()

,id,minutes,contributor_id,n_steps,n_ingredients
count,231637.000000,2.316370e+05,2.316370e+05,231637.000000,231637.000000
mean,222014.708984,9.398546e+03,5.534885e+06,9.765499,9.051153
std,141206.635626,4.461963e+06,9.979141e+07,5.995128,3.734796
min,38.000000,0.000000e+00,2.700000e+01,0.000000,1.000000
25%,99944.000000,2.000000e+01,5.690500e+04,6.000000,6.000000
50%,207249.000000,4.000000e+01,1.736140e+05,9.000000,9.000000
75%,333816.000000,6.500000e+01,3.982750e+05,12.000000,11.000000
max,537716.000000,2.147484e+09,2.002290e+09,145.000000,43.000000

In [13]:
recipes_raw['recipe_id'] = recipes_raw.pop('id')

In [14]:
omni_raw = pd.merge(recipes_raw,inter_raw,on='recipe_id')

In [15]:
omni_raw.describe()

,minutes,contributor_id,n_steps,n_ingredients,recipe_id,user_id,rating
count,1.132367e+06,1.132367e+06,1.132367e+06,1.132367e+06,1.132367e+06,1.132367e+06,1.132367e+06
mean,3.614684e+04,2.655967e+06,9.627970e+00,8.952028e+00,1.608972e+05,1.384291e+08,4.411016e+00
std,8.796494e+06,6.774670e+07,5.819689e+00,3.689908e+00,1.303987e+05,5.014269e+08,1.264752e+00
min,0.000000e+00,2.700000e+01,0.000000e+00,1.000000e+00,3.800000e+01,1.533000e+03,0.000000e+00
25%,2.000000e+01,3.744900e+04,6.000000e+00,6.000000e+00,5.425700e+04,1.354700e+05,4.000000e+00
50%,4.000000e+01,8.983100e+04,8.000000e+00,9.000000e+00,1.205470e+05,3.309370e+05,5.000000e+00
75%,7.000000e+01,2.427290e+05,1.200000e+01,1.100000e+01,2.438520e+05,8.045500e+05,5.000000e+00
max,2.147484e+09,2.002290e+09,1.450000e+02,4.300000e+01,5.377160e+05,2.002373e+09,5.000000e+00

In [16]:
omni_raw['recipe_features'] = omni_raw[['minutes','n_steps','n_ingredients']].values.tolist()
omni_raw = omni_raw.drop(['minutes','n_steps','n_ingredients', 'name', 'contributor_id', 'submitted', 'tags', 'nutrition', 'steps', 'description', 'review', 'ingredients'], axis=1)
omni_raw.head()

   recipe_id  user_id        date  rating recipe_features
0     137739     4470  2006-02-18       5     [55, 11, 7]
1     137739   593927  2010-08-21       5     [55, 11, 7]
2     137739   178427  2011-12-05       5     [55, 11, 7]
3      31490    28603  2002-08-19       0      [30, 9, 6]
4      31490   346277  2006-08-27       5      [30, 9, 6]

In [17]:
omni_raw.describe()

          recipe_id       user_id        rating
count  1.132367e+06  1.132367e+06  1.132367e+06
mean   1.608972e+05  1.384291e+08  4.411016e+00
std    1.303987e+05  5.014269e+08  1.264752e+00
min    3.800000e+01  1.533000e+03  0.000000e+00
25%    5.425700e+04  1.354700e+05  4.000000e+00
50%    1.205470e+05  3.309370e+05  5.000000e+00
75%    2.438520e+05  8.045500e+05  5.000000e+00
max    5.377160e+05  2.002373e+09  5.000000e+00

In [18]:
omni_raw = pd.merge(omni_raw,recipies_pp.drop(['i','name_tokens','steps_tokens','techniques','calorie_level', 'ingredient_tokens',],axis = 1),on='recipe_id')
omni_raw.head()

,recipe_id,user_id,date,rating,recipe_features,ingredient_ids
0,137739,4470,2006-02-18,5,"[55, 11, 7]","[7933, 4694, 4795, 3723, 840, 5006, 6270]"
1,137739,593927,2010-08-21,5,"[55, 11, 7]","[7933, 4694, 4795, 3723, 840, 5006, 6270]"
2,137739,178427,2011-12-05,5,"[55, 11, 7]","[7933, 4694, 4795, 3723, 840, 5006, 6270]"
3,31490,28603,2002-08-19,0,"[30, 9, 6]","[5481, 6324, 2499, 4717, 6276, 1170]"
4,31490,346277,2006-08-27,5,"[30, 9, 6]","[5481, 6324, 2499, 4717, 6276, 1170]"

In [19]:
omni_raw.describe()

           recipe_id       user_id         rating
count  935120.000000  9.351200e+05  935120.000000
mean   154627.382379  1.267908e+08       4.429872
std    126663.512044  4.815757e+08       1.228017
min        38.000000  1.533000e+03       0.000000
25%     51997.000000  1.311260e+05       4.000000
50%    114543.000000  3.182620e+05       5.000000
75%    231558.000000  7.438490e+05       5.000000
max    537716.000000  2.002373e+09       5.000000

In [20]:
omni_raw = omni_raw[omni_raw.rating >= 4].drop(['rating'], axis = 1)
omni_raw.head()

,recipe_id,user_id,date,recipe_features,ingredient_ids
0,137739,4470,2006-02-18,"[55, 11, 7]","[7933, 4694, 4795, 3723, 840, 5006, 6270]"
1,137739,593927,2010-08-21,"[55, 11, 7]","[7933, 4694, 4795, 3723, 840, 5006, 6270]"
2,137739,178427,2011-12-05,"[55, 11, 7]","[7933, 4694, 4795, 3723, 840, 5006, 6270]"
4,31490,346277,2006-08-27,"[30, 9, 6]","[5481, 6324, 2499, 4717, 6276, 1170]"
5,31490,319943,2009-07-18,"[30, 9, 6]","[5481, 6324, 2499, 4717, 6276, 1170]"

In [21]:
omni_raw = omni_raw.sort_values(['user_id','date'])
omni_raw.head()

,recipe_id,user_id,date,recipe_features,ingredient_ids
932353,17338,1533,2002-02-19,"[50, 10, 13]","[2925, 3484, 5010, 3203, 6270, 382, 5106, 5319..."
237828,24375,1533,2002-04-23,"[15, 6, 9]","[422, 6273, 7258, 5365, 893, 2131, 2783, 4253,..."
615125,10721,1533,2002-05-02,"[40, 3, 4]","[7705, 6906, 2853, 5502]"
633277,23891,1533,2002-05-06,"[25, 7, 7]","[7753, 5495, 2499, 2404, 5180, 4785, 4958]"
317699,22736,1533,2002-05-20,"[1455, 13, 6]","[1252, 519, 4545, 6696, 800, 5006]"

In [22]:
omni_raw.describe()

           recipe_id       user_id
count  833122.000000  8.331220e+05
mean   155157.888657  9.841877e+07
std    126781.046727  4.270758e+08
min        38.000000  1.533000e+03
25%     52300.000000  1.284730e+05
50%    115075.000000  3.001260e+05
75%    232433.000000  6.740118e+05
max    537716.000000  2.002373e+09

In [23]:
omni_raw.value_counts('user_id')

user_id
424680        6429
37449         4494
383346        3552
169430        3330
128473        3309
              ...
1027882          1
1027864          1
1027808          1
1027769          1
2002372706       1
Length: 146149, dtype: int64

In [24]:
omni_raw.describe()

           recipe_id       user_id
count  833122.000000  8.331220e+05
mean   155157.888657  9.841877e+07
std    126781.046727  4.270758e+08
min        38.000000  1.533000e+03
25%     52300.000000  1.284730e+05
50%    115075.000000  3.001260e+05
75%    232433.000000  6.740118e+05
max    537716.000000  2.002373e+09

In [25]:
omni_raw = omni_raw
counts = omni_raw.value_counts('user_id')
omni_raw = omni_raw.loc[omni_raw['user_id'].isin(counts.index[counts >= 10])]
# omni_raw = omni_raw.loc[omni_raw['user_id'].isin(counts.index[counts <= ])]
omni_raw.pop('date')
#omni_raw.reset_index()
#omni_raw.pop('Index')

932353    2002-02-19
237828    2002-04-23
615125    2002-05-02
633277    2002-05-06
317699    2002-05-20
             ...
180879    2018-05-19
92772     2018-05-26
137162    2018-06-16
232881    2018-06-30
752696    2018-11-30
Name: date, Length: 610998, dtype: object

In [26]:
omni_raw.value_counts('user_id')

user_id
424680    6429
37449     4494
383346    3552
169430    3330
128473    3309
          ...
304616      10
304631      10
965110      10
963024      10
304672      10
Length: 9930, dtype: int64

In [30]:
dir(omni_raw)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'ingredient_ids',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'recipe_features',
 'recipe_id',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'user_id',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [27]:
omni_raw.describe()

           recipe_id       user_id
count  610998.000000  6.109980e+05
mean   162380.204028  8.054814e+06
std    128420.874989  1.215074e+08
min        38.000000  1.533000e+03
25%     56708.000000  1.009200e+05
50%    124412.000000  2.225640e+05
75%    245847.750000  4.523550e+05
max    537485.000000  2.001898e+09

In [28]:
omni_raw.head()

,recipe_id,user_id,recipe_features,ingredient_ids
932353,17338,1533,"[50, 10, 13]","[2925, 3484, 5010, 3203, 6270, 382, 5106, 5319..."
237828,24375,1533,"[15, 6, 9]","[422, 6273, 7258, 5365, 893, 2131, 2783, 4253,..."
615125,10721,1533,"[40, 3, 4]","[7705, 6906, 2853, 5502]"
633277,23891,1533,"[25, 7, 7]","[7753, 5495, 2499, 2404, 5180, 4785, 4958]"
317699,22736,1533,"[1455, 13, 6]","[1252, 519, 4545, 6696, 800, 5006]"

In [29]:
omni_raw.to_csv('data_pp.csv')